<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katie.sociallitetest" >

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Calendar_Activity"
            android:label="@string/title_activity_calendar_"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katie.sociallitetest.MainActivity" />
        </activity>
        <activity
            android:name=".HaikuDescription"
            android:label="@string/title_activity_haiku_description"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katie.sociallitetest.MainActivity" />
        </activity>
        <activity
            android:name=".PrefereceActivity"
            android:label="@string/title_activity_preferece"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katie.sociallitetest.MainActivity" />
        </activity>
        <activity
            android:name=".removeEvent_Activity"
            android:label="@string/title_activity_remove_event_"
            android:parentActivityName=".Calendar_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katie.sociallitetest.Calendar_Activity" />
        </activity>
    </application>

</manifest>
